@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-logo: var(--font-logo);
}

.home-background {
  width: 100%;
  aspect-ratio: 16 / 6;
  background-image: url('/images/home-bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
